.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
    font-size: 15px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.copyright-footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background: grey;
    line-height: 3;
    text-align: center;
}

#sub2me{
    cursor:-webkit-zoom-in;
    color: cyan;
}


/*congrats, you reached the border of CSS!*/